DB_URL=jdbc:mysql://localhost:3306/member_chat?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=utf8
DB_USERNAME=root
DB_PASSWORD=root
DB_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver

REDIS_HOST=localhost
REDIS_PORT=6379
CHAT_REDIS_TOPIC=chatroom

SERVER_PORT=8080
